html {
  /*
  Настраиваем шрифт для всей страницы.
  Далее шрифты будут стилизованы для каждого элемента отдельно (если потребуется).
  */
  font-family: Tahoma, Verdana, Segoe, sans-serif; 
  /*
  Задаем семейство шрифтов. Желательно выбирать из стандартных.
  Несколько вариантов, чтобы у пользователя точно нашелся такой шрифт.
  */
  font-size: 24px; /*Высота шрифта*/
  font-style: normal; /*Стиль написания шрифта*/
  font-variant: normal; /*Нормальный или капитель*/
  font-weight: 700; /*Насыщенность шрифта*/
  height: 100%; /*Чтобы блок по умолчанию занимал весь экран по высоте*/
  margin: 0; /*На всякий случай обнуляем внешние отступы для всего контента страницы*/
}

body {
  color: white; /*Задаем цвет текста в элементе*/
  max-width: 740px; /*Максимальная ширина блока*/
  min-height: 100%;
  /*
  Задает минимальную высоту блока не меньше высоты родительского блока (html).
  Пока контента немного, высота блока равняется высоте html, когда контент выходит за пределы экрана, растягивает блок html.
  Пока не понял до конца как это работает, но методом проб получилось, как описано выше :)
  */
  display: flex; /*Используем технологию flexbox для удобного позиционирования элементов страницы*/
  flex-direction: column; /*Выбираем направление главной оси flexbox сверху вниз*/
  margin: auto; /*Выравнивает весь контент по середине экрана*/
  box-sizing: border-box; /*Ширина и высота элементов задается по внешним отступам, а не по контенту*/
  padding: 12px; /*Задаем внутренние оступы, чтобы контент не'прилипал' к краям страницы*/
  border: 4px solid red; /*Удалить позже, используется для удобства разработки страницы*/
  background-color: #323131; /*Задаем цвет фона элемента. Почему-то задает фон для всего экрана, а не только для блока body*/
}

header {
  border: 1px solid #000; /*Удалить позже, используется для удобства разработки страницы*/
  padding: 5px;
}

.question {
  margin: auto;
  border: 1px solid red; /*Удалить позже, используется для удобства разработки страницы*/
}

main {
  margin: auto;
  border: 2px solid green; /*Удалить позже, используется для удобства разработки страницы*/
  padding: 10px;
}

.advice {
  border: 1px solid red; /*Удалить позже, используется для удобства разработки страницы*/
  padding: 10px;
}

.image {
  display: block;
  margin: auto;
  font-size: 10px;
  font-weight: 300;
  border: 1px solid yellow; /*Удалить позже, используется для удобства разработки страницы*/
}

.button {
  border: 1px solid #000; /*Удалить позже, используется для удобства разработки страницы*/
}

footer p {
  font-size: 16px;
  margin: auto;
  text-align: center;
  border: 1px solid yellow; /*Удалить позже, используется для удобства разработки страницы*/
}