html {
  /*
  Настраиваем шрифт для всей страницы.
  Далее шрифты будут стилизованы для каждого элемента отдельно (если потребуется).
  */
  font-family: Tahoma, Verdana, Segoe, sans-serif; 
  /*
  Задаем семейство шрифтов. Желательно выбирать из стандартных.
  Несколько вариантов, чтобы у пользователя точно нашелся такой шрифт.
  */
  font-size: 24px; /*Высота шрифта*/
  font-style: normal; /*Стиль написания шрифта*/
  font-variant: normal; /*Нормальный или капитель*/
  font-weight: 700; /*Насыщенность шрифта*/
  max-height: 100vh;
  max-width: 740px;
  height: 100vh; /*Чтобы блок по умолчанию занимал весь экран по высоте*/
  margin: 0 auto; /*На всякий случай обнуляем внешние отступы для всего контента страницы*/
  box-sizing: border-box; /*Ширина и высота элементов задается по внешним отступам, а не по контенту*/
  border: 0px solid red; /*Удалить позже, используется для удобства разработки страницы*/
}

body {
  color: white; /*Задаем цвет текста в элементе*/
  max-width: 740px; /*Максимальная ширина блока*/
  max-height: 100%;
  /*
  Задает минимальную высоту блока не меньше высоты родительского блока (html).
  Пока контента немного, высота блока равняется высоте html, когда контент выходит за пределы экрана, растягивает блок html.
  Пока не понял до конца как это работает, но методом проб получилось, как описано выше :)
  */
  display: flex; /*Используем технологию flexbox для удобного позиционирования элементов страницы*/
  flex-direction: column; /*Выбираем направление главной оси flexbox сверху вниз*/
  margin: auto; /*Выравнивает весь контент по середине экрана*/
  box-sizing: border-box; /*Ширина и высота элементов задается по внешним отступам, а не по контенту*/
  padding: 12px; /*Задаем внутренние оступы, чтобы контент не'прилипал' к краям страницы*/
  border: 0px solid white; /*Удалить позже, используется для удобства разработки страницы*/
  background-color: #323131; /*Задаем цвет фона элемента. Почему-то задает фон для всего экрана, а не только для блока body*/
}

header {
  border: 0px solid #000; /*Удалить позже, используется для удобства разработки страницы*/
  font-size: 32px;
  margin: auto;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  flex-basis: 1;
  flex-grow: 10;
}

.question {
  border: 0px solid red; /*Удалить позже, используется для удобства разработки страницы*/
}

main {
  margin: auto;
  border: 0px solid green; /*Удалить позже, используется для удобства разработки страницы*/
  box-sizing: border-box;
  width: 100%;
  max-height: 100%;
  flex-basis: 1;
  flex-grow: 80;
}

.advice {
  border: 0px solid red; /*Удалить позже, используется для удобства разработки страницы*/
  padding: 20px;
  margin-top: 5%;
  font-size: 40px; /*Высота шрифта*/
  line-height: 1.2;
}

.image {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 50vh;
  margin: 30px auto;
  font-size: 10px;
  font-weight: 300;
  border: 2px solid whitesmoke; /*Удалить позже, используется для удобства разработки страницы*/
}

.text-content {
  margin: auto;
}

.button {
  box-sizing: border-box;
  border: 1px solid white;
  margin: 5% auto;
  padding: 8px 5px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  height: 40px;
}

.button:hover {
  opacity: 0.5;
}

footer {
  box-sizing: border-box;
  flex-basis: 1;
  flex-grow: 1;
  border: 0px solid rgb(14, 174, 202); /*Удалить позже, используется для удобства разработки страницы*/
}

footer p {
  box-sizing: border-box;
  margin: auto;
  font-size: 16px;
  text-align: center;
  border: 0px solid yellow; /*Удалить позже, используется для удобства разработки страницы*/
}